<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dosya İşlemi</title>
</head>
<body style="background-color:#43367c;color:#c6dae2;">
    <div style="display:block;width:70%;margin-left:30%;">
        <h1><%= length %> adet Dosya(lar) Yüklendi.</h1><br>
        <div style="display:list-item;">
            <% file_types.forEach(x => { %>
                <span><%= x %></span>
            <% }) %>
        </div>
    </div>
</body>
</html>